body {
    margin: 0px;
}

p, h1, h2 {
    margin: 0px;
    text-align: center;
}

main {
    width: 600px;
    height: 600px;
    position: relative;
    margin: 0 auto;
}

canvas {
    image-rendering: optimizeSpeed;             
    image-rendering: -moz-crisp-edges;          
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges;            
    image-rendering: crisp-edges;               
    -ms-interpolation-mode: nearest-neighbor;   
    background-color: black;
}

img {
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering: -webkit-crisp-edges;      /* Webkit */
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
    image-rendering: pixelated;                /* Chrome */
}

.game-over-modal {
    background-color: whitesmoke;
    opacity: 90%;
    height: 100px;
    width: 300px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-over-modal-container { 
    background: transparent;
    height: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-over-modal p {
    
}

.score-bar {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 20px;
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: flex-end;
}

.score-bar img {
    height: 42px;
    width: 46px;
}

.score-bar span {
    color: white;

}

.start-modal-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-modal-container > div {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.start-modal-container p {
    margin-bottom: 10px;
}