html {
    background-color: black;
}

/*html, body, main {
    height: 100vw;
    width: 100vh;
}*/

@font-face {
    font-family: hyperspace;
    src: url('../fonts/hyperspace/hyperspace.otf');
}

@font-face {
    font-family: hyperspace-italic;
    src: url('../fonts/hyperspace/hyperspace_italic.otf');
}

@font-face {
    font-family: hyperspace-bold;
    src: url('../fonts/hyperspace/hyperspace_bold.otf');
}

@font-face {
    font-family: hyperspace-bold-italic;
    src: url('../fonts/hyperspace/hyperspace_bold_italic.otf');
}

body {
    margin: 0px;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: 0px;
}

.title-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 453px;
    position: absolute;
    top: calc(50% - 140px);
    color: white;
}

.author-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title-container h1 {
    font-family: hyperspace-bold-italic;
    text-align: end;
    font-size: 73px;
}

h2 {
    font-family: hyperspace;
    margin-top: 29px;
    margin-bottom: 9px;
}

h3 {
    font-family: hyperspace;
    font-size: 30px;
    color: white;
}

.author-info h3 {
    font-size: 33px;
}

.fa-github {
    color: white;
    font-size: 38px;
    margin-top: 3px;
    margin-right: 8px;
    position: relative;
    top: 1px;
}

.links {
    position: relative;
}

.fa-linkedin {
    color: white;
    background-color: #0177b5;
    border-radius: 5px;
    font-size: 30px;
    margin-top: 6px;
    padding: 2px 4px;
    margin-bottom: 1px;
    position: relative;
    top: -2px;
    margin-right: 3px;
}

p, h1, h2, h3 {
    margin: 0px;
}

p {
    text-align: center;
}

main {
    /*width: auto;
    height: 100%;*/
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

canvas {
    image-rendering: optimizeSpeed;             
    image-rendering: -moz-crisp-edges;          
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges;            
    image-rendering: crisp-edges;               
    -ms-interpolation-mode: nearest-neighbor;   
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: block;
}

img {
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering: -webkit-crisp-edges;      /* Webkit */
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
    image-rendering: pixelated;                /* Chrome */
}

.game-over-modal {
    background-color: whitesmoke;
    opacity: 90%;
    height: 100px;
    width: 300px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-over-modal-container { 
    background: transparent;
    height: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-over-modal p {
    
}

.score-bar {
    position: absolute;
    top: 0px;
    right: 15px;
    margin-top: 20px;
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: flex-end;
}

.score-bar img {
    height: 42px;
    width: 46px;
}

.score-bar span {
    color: white;

}

.start-modal-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-modal-container > div {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.start-modal-container p {
    margin-bottom: 10px;
}

i:hover {
    cursor: pointer;
}

.fa-volume-up, .fa-volume-off {
    font-size: 42px;
    opacity: .7;
    position: absolute;
    top: 6px;
    left: 10px;
    color: white;
    opacity: .7;
    z-index: 1001;
}

#start-modal {
    padding: 20px;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.2);
}

#start-modal h1, #start-modal p, #start-modal h2 {
    text-align: center;
}

button {
    margin: 0 auto;
    font-family: hyperspace-italic;
    background-color: black;
    color: white;
    border: none;
    font-size: 50px;
    margin-top: 28px;
    position: relative;
    right: 5px;
}

button:focus {
    outline: 0px;
}

button:hover {
    cursor: pointer;
}

#instructions-container {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 453px;
    position: absolute;
    top: calc(50% - 185px);
    color: white;
    align-items: center;
}

#instructions-container > h3:first-of-type {
    margin-bottom: 12px;
}

#instructions-container img {
    width: 145px;
}

.instructions-info {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 30px;
}

#instructions-container button {
    margin-top: 10px;
}

#instructions-container ul {
    list-style: none;
    padding: 0px;
}

ul li {
    font-family: hyperspace;
}

.top-links {
    display: none;
    position: absolute;
    bottom: 5px;
    right: 7px;
}

.top-links .fa-github {
    margin-right: 10px;
    margin-bottom: 2px;
}

#game-over {
    display: none;
    position: absolute;
    top: calc(50% - 131px);
    flex-direction: column;
    background-color: black;
    justify-content: center;
}

#game-over h3 {
    background-color: black;
}

#start-button {
   animation-duration: 200ms;
   animation-name: flash;
   animation-iteration-count: infinite;
   /*animation-timing-function: linear;*/
   /*animation-play-state: running;*/
   animation-direction: alternate;
}
@keyframes flash {
   from {
      color: white;
   }
   to {
      color: red;
   }
 }

#play-again {
   animation-duration: 200ms;
   animation-name: flash;
   animation-iteration-count: infinite;
   /*animation-timing-function: linear;*/
   /*animation-play-state: running;*/
   animation-direction: alternate;
}
@keyframes flash {
   from {
      color: white;
   }
   to {
      color: red;
   }
 }

 #score {
    font-family: hyperspace;
    font-size: 35px;
    position: relative;
    top: -4px;
 }

 #status-bar {
     display: none;
     position: absolute;
     left: 8px;
     bottom: 4px;
 }

 #status {
     color: white;
 }